# Lines that start with '#' are comments.
*~
*.diff
*#
.classpath
.project
.settings
bin/flume-env.sh
conf/flume-site.xml
bin/.settings
.eclipse
pmd_report.html
*/bin
target
patchprocess
derby.log
.idea
*.iml
nb-configuration.xml
.DS_Store
*__pycache__*
.idea/

model_data/fer2013_mini_XCEPTION.102-0.66.hdf5
model_data/weights.18-4.06.hdf5
model_data/yolo.h5
